.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.Renviron
*.swp
node_modules
app.R

/*_cache/
/cache/

.Rapp.history
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/


node_modules
